In [214]:
import requests
import re
from urllib.request import urlopen
from bs4 import BeautifulSoup
import json
import time
import pandas as pd
import numpy as np

In [215]:
year, month, day, team = 2018, 10, 19, 'ORL'
web_template = (f'https://www.basketball-reference.com/boxscores/{year}{month}{day}0{team}.html')

In [216]:
def web_scrape():
    year, month, day, team = 2018, 10, 19, 'ORL'    
    web_template = (f'https://www.basketball-reference.com/boxscores/{year}{month}{day}0{team}.html')
    data = requests.get(web_template)
    soup = BeautifulSoup(data.text, 'html.parser')
    headers_four_factors = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')]
    rows = soup.findAll('tr')[2:]
    player_stats1 = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]
    player_names1 = [[td.getText() for td in rows[i].findAll('th')] for i in range(len(rows))]
    stats = pd.DataFrame(player_stats1, columns = headers_four_factors[1:])
    player = pd.DataFrame(player_names1)
    player = player[0][:66]
    stats['Player'] = player
    return stats

In [217]:
def team_summary():
    year, month, day, team = 2018, 10, 19, 'ORL'    
    web_template = (f'https://www.basketball-reference.com/boxscores/{year}{month}{day}0{team}.html')
    data = requests.get(web_template)
    soup = BeautifulSoup(data.text, 'html.parser')
    rows2 = soup.findAll(class_='scorebox')
    overall_teams = [strong.getText() for strong in rows2[0].findAll('strong')]
    overall_teams = [items.strip('\n') for items in overall_teams]
    overall_score = [scores.getText() for scores in rows2[0].findAll(class_='scores')]
    overall_score = [items.strip('\n') for items in overall_score]
    
    def date_adjustment():
        overall_date = [dates.getText() for dates in rows2[0].findAll(class_='scorebox_meta')]
        overall_date = [items.strip('\n') for items in overall_date]
        overall_date_2 = [items.split(',') for items in overall_date]
        output_list = []
        output_list.append(overall_date_2[0][0])
        output_list.append(overall_date_2[0][1])
        output_list.append(overall_date_2[0][2][:5].strip(' '))
        
        return output_list
    
    
    date_list = [' '.join(date_adjustment())] * 2
    teams_scores = pd.DataFrame(overall_teams, columns=['Team_Name'])
    teams_scores['Score'] = overall_score
    teams_scores['Date'] = date_list
    return teams_scores

In [218]:
web_template

'https://www.basketball-reference.com/boxscores/201810190ORL.html'

In [219]:
test = web_scrape()

In [220]:
test[:15]

,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,Player
0,29:59,6,8,.750,3,4,.750,0,0,,...,6,6,5,2,0,2,0,15,+32,Nicolas Batum
1,26:46,8,16,.500,5,10,.500,5,5,1.000,...,2,2,5,1,0,3,0,26,+34,Kemba Walker
2,25:05,2,7,.286,0,2,.000,4,4,1.000,...,6,7,1,1,1,0,0,8,+19,Jeremy Lamb
3,22:45,3,8,.375,0,0,,2,2,1.000,...,5,8,2,1,0,0,2,8,+17,Cody Zeller
4,20:29,3,7,.429,2,6,.333,0,0,,...,3,4,0,0,0,1,0,8,+13,Marvin Williams
5,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Reserves
6,23:37,4,12,.333,2,6,.333,1,1,1.000,...,1,1,2,0,0,1,3,11,+5,Malik Monk
7,22:29,5,8,.625,0,2,.000,2,4,.500,...,7,9,5,0,2,1,1,12,+24,Michael Kidd-Gilchrist
8,17:18,2,5,.400,1,1,1.000,1,2,.500,...,2,5,2,1,0,2,4,6,+15,Willy Hernangómez
9,16:12,0,5,.000,0,1,.000,0,0,,...,3,3,6,0,0,2,2,0,+3,Tony Parker
10,14:24,6,8,.750,3,3,1.000,0,0,,...,6,8,2,0,1,1,1,15,+3,Miles Bridges
11,7:57,2,5,.400,1,2,.500,2,2,1.000,...,0,0,1,0,0,0,2,7,0,Dwayne Bacon
12,7:57,1,2,.500,0,1,.000,0,0,,...,2,2,1,0,0,2,1,2,0,Frank Kaminsky
13,5:02,1,1,1.000,0,0,,0,0,,...,0,0,0,0,0,0,1,2,-5,Bismack Biyombo
14,240,43,92,.467,17,38,.447,17,20,.850,...,43,55,32,6,4,15,17,120,,Team Totals

In [227]:
team_summary()

           Team_Name Score                      Date
0  Charlotte Hornets   120  7:00 PM  October 19 2018
1      Orlando Magic    88  7:00 PM  October 19 2018

In [228]:
teams_scores = team_summary()

In [229]:
def four_factors_output():
    
    
    four_factors_dataframe_test = stats[['Player','MP','FG', 'FGA', '3P', 'FT', 'ORB', 'TOV', 'FTA', 'DRB']]    
    test_list = ['FG', 'FGA', '3P', 'FT', 'ORB', 'TOV', 'FTA', 'DRB']
    four_factors_dataframe_test = four_factors_dataframe_test.dropna()
    for items in test_list:
        four_factors_dataframe_test[items] = pd.to_numeric(four_factors_dataframe_test[items], errors='coerce').fillna(0).astype(int)
    
    if (four_factors_dataframe_test['FG'].iloc[13] * 2) + four_factors_dataframe_test['3P'].iloc[13] + four_factors_dataframe_test['FT'].iloc[13] == int(teams_scores['Score'].iloc[0]):
        four_factors_dataframe_test['Player'].iloc[13] = teams_scores['Team_Name'].iloc[0]
        four_factors_dataframe_test['Player'].iloc[-1] = teams_scores['Team_Name'].iloc[1]
        four_factors_dataframe_test['Date'] = teams_scores['Date'].iloc[0]
        four_factors_dataframe_test['Date'] = teams_scores['Date'].iloc[0]
    else:
        four_factors_dataframe_test['Player'].iloc[13] = teams_scores['Team_Name'].iloc[1]
        four_factors_dataframe_test['Player'].iloc[-1] = teams_scores['Team_Name'].iloc[0]
        four_factors_dataframe_test['Date'] = teams_scores['Date'].iloc[0]
        four_factors_dataframe_test['Date'] = teams_scores['Date'].iloc[0]
    
    
    four_factors_dataframe_test['eFG'] = (four_factors_dataframe_test['FG'] + 0.5* four_factors_dataframe_test['3P']) / four_factors_dataframe_test['FGA']
    four_factors_dataframe_test['TOV%'] = four_factors_dataframe_test['TOV'] / (four_factors_dataframe_test['FGA'] + 0.44 * four_factors_dataframe_test['FTA'] + four_factors_dataframe_test['TOV'])
    four_factors_dataframe_test['ORB%'] = four_factors_dataframe_test['ORB'] / (four_factors_dataframe_test['ORB'] + four_factors_dataframe_test['DRB'])
    four_factors_dataframe_test['FTr'] = four_factors_dataframe_test['FT'] / four_factors_dataframe_test['FGA']
    four_factors_dataframe = four_factors_dataframe_test[['Player', 'eFG', 'TOV%', 'ORB%', 'FTr', 'Date']]
    
    year, month, day, team = 2018, 10, 19, 'ORL'
    uniq_id = str(year)+str(month)+str(day)+team
    append_data = four_factors_dataframe_test.loc[[14,48],:]
    append_data['id'] = uniq_id
    return append_data

In [230]:
stats = test

In [231]:
four_factors_dataframe_test = four_factors_output()

/Users/fayadabbasi/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [232]:
four_factors_dataframe_test

,Player,MP,FG,FGA,3P,FT,ORB,TOV,FTA,DRB,Date,eFG,TOV%,ORB%,FTr,id
14,Charlotte Hornets,240,43,92,17,17,12,15,20,43,7:00 PM October 19 2018,0.559783,0.129534,0.218182,0.184783,20181019ORL
48,Orlando Magic,240,36,94,6,10,12,15,14,32,7:00 PM October 19 2018,0.414894,0.130254,0.272727,0.106383,20181019ORL