In [557]:
import requests
import re
from urllib.request import urlopen
from bs4 import BeautifulSoup
import json
import time
import pandas as pd
import numpy as np
import pickle

In [558]:
# year, month, day, team = ['2017', '10', '17', 'CLE']
# web_template = (f'https://www.basketball-reference.com/boxscores/{year}{month}{day}0{team}.html')
# web_template

In [569]:
with open ('tags.pkl', 'rb') as fp:
    new_lst = pickle.load(fp)

In [570]:
new_lst[0]

'201710170CLE'

In [572]:
def web_scrape(inputlist):    
    year = inputlist[:4]
    month = inputlist[4:6]
    day = inputlist[6:8]
    team = inputlist[9:]
    web_template = (f'https://www.basketball-reference.com/boxscores/{year}{month}{day}0{team}.html')
    data = requests.get(web_template)
    soup = BeautifulSoup(data.text, 'html.parser')
    headers_four_factors = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')]
    rows = soup.findAll('tr')[2:]
    player_stats1 = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]
    player_names1 = [[td.getText() for td in rows[i].findAll('th')] for i in range(len(rows))]
    stats = pd.DataFrame(player_stats1, columns = headers_four_factors[1:])
    player = pd.DataFrame(player_names1)
    player = player[0][:66]
    stats['Player'] = player
    return stats

In [574]:
def team_summary(inputlist):    
    year = inputlist[:4]
    month = inputlist[4:6]
    day = inputlist[6:8]
    team = inputlist[9:]
    web_template = (f'https://www.basketball-reference.com/boxscores/{year}{month}{day}0{team}.html')
    data = requests.get(web_template)
    soup = BeautifulSoup(data.text, 'html.parser')
    rows2 = soup.findAll(class_='scorebox')
    overall_teams = [strong.getText() for strong in rows2[0].findAll('strong')]
    overall_teams = [items.strip('\n') for items in overall_teams]
    overall_score = [scores.getText() for scores in rows2[0].findAll(class_='scores')]
    overall_score = [items.strip('\n') for items in overall_score]
    
    def date_adjustment():
        overall_date = [dates.getText() for dates in rows2[0].findAll(class_='scorebox_meta')]
        overall_date = [items.strip('\n') for items in overall_date]
        overall_date_2 = [items.split(',') for items in overall_date]
        output_list = []
        output_list.append(overall_date_2[0][0])
        output_list.append(overall_date_2[0][1])
        output_list.append(overall_date_2[0][2][:5].strip(' '))
        
        return output_list
    
    date_list = [' '.join(date_adjustment())] * 2
    teams_scores = pd.DataFrame(overall_teams, columns=['Team_Name'])
    teams_scores['Score'] = overall_score
    teams_scores['Date'] = date_list
    return teams_scores

In [575]:
team_summary(new_lst[0])

             Team_Name Score                      Date
0       Boston Celtics    99  8:01 PM  October 17 2017
1  Cleveland Cavaliers   102  8:01 PM  October 17 2017

In [576]:
stats = web_scrape(new_lst[0])

In [577]:
test = stats[['Player','MP','FG', 'FGA', '3P', 'FT', 'ORB', 'TOV', 'FTA', 'DRB', 'PTS']]
test = test.dropna()
test

              Player     MP  FG FGA 3P  FT ORB TOV FTA DRB  PTS
0       Jaylen Brown  39:36  11  23  2   1   1   3   2   5   25
1       Kyrie Irving  39:21   8  17  4   2   2   2   2   2   22
2       Jayson Tatum  36:32   5  12  1   3   4   1   3   6   14
3         Al Horford  32:07   2   7  0   5   0   0   7   7    9
4     Gordon Hayward   5:15   1   2  0   0   0   0   0   1    2
6       Marcus Smart  35:03   5  16  0   2   0   2   3   9   12
7       Terry Rozier  19:32   2   6  1   4   0   0   4   3    9
8        Aron Baynes  19:06   2   2  0   2   2   2   4   3    6
9       Semi Ojeleye   8:39   0   2  0   0   0   0   0   0    0
10      Shane Larkin   4:49   0   1  0   0   0   0   0   1    0
13       Team Totals    240  36  88  8  19   9  10  25  37   99
32      LeBron James  41:12  12  19  1   4   1   4   4  15   29
33       Jae Crowder  34:44   3  10  1   4   1   1   4   4   11
34      Derrick Rose  31:15   5  14  1   3   1   2   4   3   14
35       Dwyane Wade  28:30   3  10  0   2   1   4   2   1    8
36        Kevin Love  28:24   4   9  1   6   3   2   7   8   15
38        J.R. Smith  21:55   4   7  1   1   0   0   1   4   10
39  Tristan Thompson  19:36   2   3  0   1   1   2   3   5    5
40        Jeff Green  14:14   3   8  0   0   0   1   0   0    6
41     Iman Shumpert  12:51   2   3  0   0   1   1   0   1    4
42       Kyle Korver   7:19   0   0  0   0   0   0   0   0    0
46       Team Totals    240  38  83  5  21   9  17  25  41  102

In [610]:
teams_scores = team_summary(new_lst[0])

In [611]:
teams_scores

             Team_Name Score                      Date
0       Boston Celtics    99  8:01 PM  October 17 2017
1  Cleveland Cavaliers   102  8:01 PM  October 17 2017

In [600]:
test.loc[[13,46],:]

         Player   MP  FG FGA 3P  FT ORB TOV FTA DRB  PTS
13  Team Totals  240  36  88  8  19   9  10  25  37   99
46  Team Totals  240  38  83  5  21   9  17  25  41  102

In [619]:
test.loc[test['PTS']=='99'][0] = teams_scores['Team_Name'][0]

/Users/fayadabbasi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [621]:
test.loc[test['PTS']=='102'][0] = teams_scores['Team_Name'][1]

/Users/fayadabbasi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [631]:
x = pd.merge(test.loc[test['PTS']=='99'], test.loc[test['PTS']=='102'])
x

Empty DataFrame
Columns: [Player, MP, FG, FGA, 3P, FT, ORB, TOV, FTA, DRB, PTS]
Index: []

In [602]:
test.loc[test['PTS']=='102']

         Player   MP  FG FGA 3P  FT ORB TOV FTA DRB  PTS
46  Team Totals  240  38  83  5  21   9  17  25  41  102

In [625]:
test[test['Player']==teams_scores['Team_Name'][0],test['Player']==teams_scores['Team_Name'][1]]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [565]:
def four_factors_output(inputlist):
    year = inputlist[:4]
    month = inputlist[4:6]
    day = inputlist[6:8]
    team = inputlist[9:]
    stats = web_scrape(inputlist)
    teams_scores = team_summary(inputlist)
    test = stats[['Player','MP','FG', 'FGA', '3P', 'FT', 'ORB', 'TOV', 'FTA', 'DRB', 'PTS']]    
    test_list = ['FG', 'FGA', '3P', 'FT', 'ORB', 'TOV', 'FTA', 'DRB']
    test = test.dropna()
    for items in test_list:
        test[items] = pd.to_numeric(test[items], errors='coerce').fillna(0).astype(int)
    
    test['Player'][test['PTS']==teams_scores['Score'].iloc[0]] = teams_scores['Team_Name'].iloc[0]
    test['Player'][test['PTS']==teams_scores['Score'].iloc[1]] = teams_scores['Team_Name'].iloc[1]
    test['Date'] = teams_scores['Date'].iloc[0]
    
    test['eFG'] = (test['FG'] + 0.5* test['3P']) / test['FGA']
    test['TOV_per'] = test['TOV'] / (test['FGA'] + 0.44 * test['FTA'] + test['TOV'])
    test['ORB_per'] = test['ORB'] / (test['ORB'] + test['DRB'])
    test['FTr'] = test['FT'] / test['FGA']
    four_factors_dataframe = test[['Player', 'eFG', 'TOV_per', 'ORB_per', 'FTr', 'Date']]
    
    uniq_id = str(year)+str(month)+str(day)+team
    append_data = test.loc[[14,48],:]
    append_data['id_t'] = uniq_id
    append_data['loc'] = team
    return append_data

In [566]:
with open ('tags.pkl', 'rb') as fp:
    new_lst = pickle.load(fp)

In [567]:
new_lst[0]

'201710170CLE'

In [568]:
four_factors_output(new_lst[0])

                 Player     MP  FG  FGA  3P  FT  ORB  TOV  FTA  DRB  PTS  \
0          Jaylen Brown  39:36  11   23   2   1    1    3    2    5   25
1          Kyrie Irving  39:21   8   17   4   2    2    2    2    2   22
2          Jayson Tatum  36:32   5   12   1   3    4    1    3    6   14
3            Al Horford  32:07   2    7   0   5    0    0    7    7    9
4        Gordon Hayward   5:15   1    2   0   0    0    0    0    1    2
6          Marcus Smart  35:03   5   16   0   2    0    2    3    9   12
7          Terry Rozier  19:32   2    6   1   4    0    0    4    3    9
8           Aron Baynes  19:06   2    2   0   2    2    2    4    3    6
9          Semi Ojeleye   8:39   0    2   0   0    0    0    0    0    0
10         Shane Larkin   4:49   0    1   0   0    0    0    0    1    0
13       Boston Celtics    240  36   88   8  19    9   10   25   37   99
32         LeBron James  41:12  12   19   1   4    1    4    4   15   29
33          Jae Crowder  34:44   3   10   1   4    1    1    4    4   11
34         Derrick Rose  31:15   5   14   1   3    1    2    4    3   14
35          Dwyane Wade  28:30   3   10   0   2    1    4    2    1    8
36           Kevin Love  28:24   4    9   1   6    3    2    7    8   15
38           J.R. Smith  21:55   4    7   1   1    0    0    1    4   10
39     Tristan Thompson  19:36   2    3   0   1    1    2    3    5    5
40           Jeff Green  14:14   3    8   0   0    0    1    0    0    6
41        Iman Shumpert  12:51   2    3   0   0    1    1    0    1    4
42          Kyle Korver   7:19   0    0   0   0    0    0    0    0    0
46  Cleveland Cavaliers    240  38   83   5  21    9   17   25   41  102

                        Date       eFG   TOV_per   ORB_per       FTr
0   8:01 PM  October 17 2017  0.521739  0.111607  0.166667  0.043478
1   8:01 PM  October 17 2017  0.588235  0.100604  0.500000  0.117647
2   8:01 PM  October 17 2017  0.458333  0.069832  0.400000  0.250000
3   8:01 PM  October 17 2017  0.285714  0.000000  0.000000  0.714286
4   8:01 PM  October 17 2017  0.500000  0.000000  0.000000  0.000000
6   8:01 PM  October 17 2017  0.312500  0.103520  0.000000  0.125000
7   8:01 PM  October 17 2017  0.416667  0.000000  0.000000  0.666667
8   8:01 PM  October 17 2017  1.000000  0.347222  0.400000  1.000000
9   8:01 PM  October 17 2017  0.000000  0.000000       NaN  0.000000
10  8:01 PM  October 17 2017  0.000000  0.000000  0.000000  0.000000
13  8:01 PM  October 17 2017  0.454545  0.091743  0.195652  0.215909
32  8:01 PM  October 17 2017  0.657895  0.161551  0.062500  0.210526
33  8:01 PM  October 17 2017  0.350000  0.078370  0.200000  0.400000
34  8:01 PM  October 17 2017  0.392857  0.112613  0.250000  0.214286
35  8:01 PM  October 17 2017  0.300000  0.268817  0.500000  0.200000
36  8:01 PM  October 17 2017  0.500000  0.142045  0.272727  0.666667
38  8:01 PM  October 17 2017  0.642857  0.000000  0.000000  0.142857
39  8:01 PM  October 17 2017  0.666667  0.316456  0.166667  0.333333
40  8:01 PM  October 17 2017  0.375000  0.111111       NaN  0.000000
41  8:01 PM  October 17 2017  0.666667  0.250000  0.500000  0.000000
42  8:01 PM  October 17 2017       NaN       NaN       NaN       NaN
46  8:01 PM  October 17 2017  0.487952  0.153153  0.180000  0.253012

/Users/fayadabbasi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/fayadabbasi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

KeyError: 'None of [[14, 48]] are in the [index]'