# NBA Four Factors

### Thesis

Dean Oliver has posited a way of looking at what drives wins in a game, known as the Four Factor. The view is that there are Four Factors that drive wins for a team, on order of importance:

1 Effective FG%: eFG% is an adjusted FG% view. The formula is (FGM + 0.5 * 3PFG) / FGA. The more shots you make, the better your chances of winning. Dean has estimated that this factor weighting is about 40%.

2 Turnover %: TOV% is the rate at which the ball is turned over. It is calculated as TOV / (FGA + 0.44 * FTA + TOV). TOV % is estimated at a weighting of 25%.

3 Offensive Rebounds: Offensive rebounds give you additional opportunities. As stated, they are accounted for as ORB / (ORB + opposition DRB). The weighting estimated is 20%. 

4 FT Rate: Finally, free throw rate is the amount of free throws a team had in a game. It is calculated as FT / FGA and its estimated weighting is 15%. 

### What are we testing for?

We will explore several things in this project. First, how much variance do these four factors play per game and are there trends in the mix over the past several years of the NBA? With the mix of shots increasing towards 3 PTs, it would seem that eFG% has increased as a factor. Also, what is the standard deviation of each factor? It would seem that hustle factors such as turnover % and rebounds could have a wider standard deviation than the other factors. 

One factor to take into consideration is what is a team. Given free agency and trades, the composition of a team varies year to year as well as within the season. So identifying what the composition of a team is based on the total 240 minutes played per game is important to determine how that specific team's four factors vary. 

Next, we will look at the impact of travel. Travel can take a lot out of players and between turnovers and offensive rebounds, which are largely "hustle" factors, how does that impact a team. We will look at the impact on the first game of a road trip, second, third, and fourth. It will be interesting to see if the "team" changes as the length of a road trip increases or if the hustle variables exhibit more variance than normalized variance.  

There are some bonus elements that could be included: how does shot selection vary as length of time on the road changes - do teams tend to shoot more 3's while on the road than home or increase the number of 3's as the length of the road trip increases? How does weather play a factor - on flight delay situations, is hustle impacted?

## First step is to build a web scraper that gets the data from the website into a manageable format, testing out a sample into a pandas dataframe

Goal for today is to get my web scrape working and get through a good % of the total download I am looking to get through. I believe I have identified all the key factors I am looking to download and last night I got my first dataframe in pandas from an initial one game scrape of data.

In [168]:
import requests
import re
from urllib.request import urlopen
from bs4 import BeautifulSoup
import json
import time
import pandas as pd

In [169]:
year = 2018
month = 10
day = 19
team = 'ORL'

In [170]:
web_template = (f'https://www.basketball-reference.com/boxscores/{year}{month}{day}{0}{team}.html')

In [171]:
web_names = requests.get(web_template)

In [172]:
soup = BeautifulSoup(web_names.text, 'html.parser')

In [173]:
headers_four_factors = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')]

In [135]:
rows = soup.findAll('tr')[2:] # this pulls the rows data; need to start from the second row to eliminate
# the headers for the rows
player_stats1 = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]

In [136]:
player_names1 = [[td.getText() for td in rows[i].findAll('th')] for i in range(len(rows))]

In [137]:
stats = pd.DataFrame(player_stats1, columns = headers_four_factors[1:])

In [138]:
player = pd.DataFrame(player_names1)
player = player[0][:66]

In [139]:
stats['Player'] = player

In [140]:
stats[:3]

,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,Player
0,29:59,6,8,.750,3,4,.750,0,0,,...,6,6,5,2,0,2,0,15,+32,Nicolas Batum
1,26:46,8,16,.500,5,10,.500,5,5,1.000,...,2,2,5,1,0,3,0,26,+34,Kemba Walker
2,25:05,2,7,.286,0,2,.000,4,4,1.000,...,6,7,1,1,1,0,0,8,+19,Jeremy Lamb

In [141]:
rows2 = soup.findAll(class_='scorebox')

In [142]:
overall_teams = [strong.getText() for strong in rows2[0].findAll('strong')]
overall_teams = [items.strip('\n') for items in overall_teams]

In [143]:
overall_score = [scores.getText() for scores in rows2[0].findAll(class_='scores')]
overall_score = [items.strip('\n') for items in overall_score]

In [177]:
def date_adjustment():
    overall_date = [dates.getText() for dates in rows2[0].findAll(class_='scorebox_meta')]
    overall_date = [items.strip('\n') for items in overall_date]
    overall_date_2 = [items.split(',') for items in overall_date]
    output_list = []
    output_list.append(overall_date_2[0][0])
    output_list.append(overall_date_2[0][1])
    output_list.append(overall_date_2[0][2][:5].strip(' '))
    return output_list

In [178]:
date_adjustment()

['7:00 PM', ' October 19', '2018']

In [179]:
date_list = [' '.join(date_adjustment())] * 2

In [180]:
date_list

['7:00 PM  October 19 2018', '7:00 PM  October 19 2018']

In [181]:
teams_scores = pd.DataFrame(overall_teams, columns=['Team_Name'])

In [182]:
teams_scores['Score'] = overall_score
teams_scores['Date'] = date_list

In [183]:
teams_scores

           Team_Name Score                      Date
0  Charlotte Hornets   120  7:00 PM  October 19 2018
1      Orlando Magic    88  7:00 PM  October 19 2018

# I need to embed all these scattered assignments into a function, like I did for date, so that I can run for each sheet

### Then, I can pass the data from each into a PostGresSQL database

In [151]:
stats[:3]

,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,Player
0,29:59,6,8,.750,3,4,.750,0,0,,...,6,6,5,2,0,2,0,15,+32,Nicolas Batum
1,26:46,8,16,.500,5,10,.500,5,5,1.000,...,2,2,5,1,0,3,0,26,+34,Kemba Walker
2,25:05,2,7,.286,0,2,.000,4,4,1.000,...,6,7,1,1,1,0,0,8,+19,Jeremy Lamb

In [268]:
four_factors_dataframe = pd.DataFrame(columns=['Player','eFG%','TOV%','ORB%','FTr'])

In [269]:
four_factors_dataframe

Empty DataFrame
Columns: [Player, eFG%, TOV%, ORB%, FTr]
Index: []

In [270]:
four_factors_dataframe_test = stats[['Player','MP','FG', 'FGA', '3P', 'FT', 'ORB', 'TOV', 'FTA', 'DRB']]

In [271]:
four_factors_dataframe_test = four_factors_dataframe_test.dropna()
four_factors_dataframe_test['FG'] = pd.to_numeric(four_factors_dataframe_test['FG'], errors='coerce').fillna(0).astype(int)
four_factors_dataframe_test['FGA'] = pd.to_numeric(four_factors_dataframe_test['FGA'], errors='coerce').fillna(0).astype(int)
four_factors_dataframe_test['3P'] = pd.to_numeric(four_factors_dataframe_test['3P'], errors='coerce').fillna(0).astype(int)
four_factors_dataframe_test['TOV'] = pd.to_numeric(four_factors_dataframe_test['TOV'], errors='coerce').fillna(0).astype(int)
four_factors_dataframe_test['FTA'] = pd.to_numeric(four_factors_dataframe_test['FTA'], errors='coerce').fillna(0).astype(int)
four_factors_dataframe_test['FT'] = pd.to_numeric(four_factors_dataframe_test['FT'], errors='coerce').fillna(0).astype(int)
four_factors_dataframe_test['ORB'] = pd.to_numeric(four_factors_dataframe_test['ORB'], errors='coerce').fillna(0).astype(int)
four_factors_dataframe_test['DRB'] = pd.to_numeric(four_factors_dataframe_test['DRB'], errors='coerce').fillna(0).astype(int)

In [272]:
four_factors_dataframe_test

                    Player     MP  FG  FGA  3P  FT  ORB  TOV  FTA  DRB
0            Nicolas Batum  29:59   6    8   3   0    0    2    0    6
1             Kemba Walker  26:46   8   16   5   5    0    3    5    2
2              Jeremy Lamb  25:05   2    7   0   4    1    0    4    6
3              Cody Zeller  22:45   3    8   0   2    3    0    2    5
4          Marvin Williams  20:29   3    7   2   0    1    1    0    3
6               Malik Monk  23:37   4   12   2   1    0    1    1    1
7   Michael Kidd-Gilchrist  22:29   5    8   0   2    2    1    4    7
8        Willy Hernangómez  17:18   2    5   1   1    3    2    2    2
9              Tony Parker  16:12   0    5   0   0    0    2    0    3
10           Miles Bridges  14:24   6    8   3   0    2    1    0    6
11            Dwayne Bacon   7:57   2    5   1   2    0    0    2    0
12          Frank Kaminsky   7:57   1    2   0   0    0    2    0    2
13         Bismack Biyombo   5:02   1    1   0   0    0    0    0    0
14             Team Totals    240  43   92  17  17   12   15   20   43
34           Evan Fournier  25:05   5   15   2   0    1    1    0    1
35            Aaron Gordon  24:54   2    9   0   1    3    3    1    7
36          Nikola Vučević  22:23   6   11   0   0    3    2    0    5
37           D.J. Augustin  20:54   1    5   0   0    1    2    0    0
38          Jonathan Isaac  14:25   1    3   0   0    1    2    0    4
40            Jerian Grant  24:59   3    7   1   0    0    2    0    1
41        Jonathon Simmons  22:41   3    9   1   0    1    1    0    2
42           Terrence Ross  19:02   4   10   1   5    0    1    5    1
43           Mohamed Bamba  18:37   0    4   0   0    0    1    0    5
44           Wesley Iwundu  14:52   4   11   0   3    2    0    5    2
45           Jarell Martin  12:00   3    4   0   0    0    0    0    2
46          Isaiah Briscoe  10:04   4    5   1   1    0    0    3    1
47              Khem Birch  10:04   0    1   0   0    0    0    0    1
48             Team Totals    240  36   94   6  10   12   15   14   32

In [273]:
four_factors_dataframe_test['eFG'] = (four_factors_dataframe_test['FG'] + 0.5* four_factors_dataframe_test['3P']) / four_factors_dataframe_test['FGA']
four_factors_dataframe_test['TOV%'] = four_factors_dataframe_test['TOV'] / (four_factors_dataframe_test['FGA'] + 0.44 * four_factors_dataframe_test['FTA'] + four_factors_dataframe_test['TOV'])
four_factors_dataframe_test['ORB%'] = four_factors_dataframe_test['ORB'] / (four_factors_dataframe_test['ORB'] + four_factors_dataframe_test['DRB'])
four_factors_dataframe_test['FTr'] = four_factors_dataframe_test['FT'] / four_factors_dataframe_test['FGA']

In [276]:
four_factors_dataframe = four_factors_dataframe_test[['Player', 'eFG', 'TOV%', 'ORB%', 'FTr']]

In [277]:
four_factors_dataframe

                    Player       eFG      TOV%      ORB%       FTr
0            Nicolas Batum  0.937500  0.200000  0.000000  0.000000
1             Kemba Walker  0.656250  0.141509  0.000000  0.312500
2              Jeremy Lamb  0.285714  0.000000  0.142857  0.571429
3              Cody Zeller  0.375000  0.000000  0.375000  0.250000
4          Marvin Williams  0.571429  0.125000  0.250000  0.000000
6               Malik Monk  0.416667  0.074405  0.000000  0.083333
7   Michael Kidd-Gilchrist  0.625000  0.092937  0.222222  0.250000
8        Willy Hernangómez  0.500000  0.253807  0.600000  0.200000
9              Tony Parker  0.000000  0.285714  0.000000  0.000000
10           Miles Bridges  0.937500  0.111111  0.250000  0.000000
11            Dwayne Bacon  0.500000  0.000000       NaN  0.400000
12          Frank Kaminsky  0.500000  0.500000  0.000000  0.000000
13         Bismack Biyombo  1.000000  0.000000       NaN  0.000000
14             Team Totals  0.559783  0.129534  0.218182  0.184783
34           Evan Fournier  0.400000  0.062500  0.500000  0.000000
35            Aaron Gordon  0.222222  0.241158  0.300000  0.111111
36          Nikola Vučević  0.545455  0.153846  0.375000  0.000000
37           D.J. Augustin  0.200000  0.285714  1.000000  0.000000
38          Jonathan Isaac  0.333333  0.400000  0.200000  0.000000
40            Jerian Grant  0.500000  0.222222  0.000000  0.000000
41        Jonathon Simmons  0.388889  0.100000  0.333333  0.000000
42           Terrence Ross  0.450000  0.075758  0.000000  0.500000
43           Mohamed Bamba  0.000000  0.200000  0.000000  0.000000
44           Wesley Iwundu  0.363636  0.000000  0.500000  0.272727
45           Jarell Martin  0.750000  0.000000  0.000000  0.000000
46          Isaiah Briscoe  0.900000  0.000000  0.000000  0.200000
47              Khem Birch  0.000000  0.000000  0.000000  0.000000
48             Team Totals  0.414894  0.130254  0.272727  0.106383

In [275]:
four_factors_dataframe

Empty DataFrame
Columns: [Player, eFG%, TOV%, ORB%, FTr]
Index: []